@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'DynaPuff', cursive;
    font-size: 100px;
}

.wrapper{
    width: 90%;
    margin: auto;
    height: auto;
    box-shadow: 0px 8px 11px -5px rgb(6, 1, 51);
}

.block1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 55vh;
    color: #606060;
    text-align: center;
    margin-top: 10vh;
    padding: 20px;
}

.block1-1 h3{
    margin: 30px 0;
    font-size: 1.1em;
}

.block1-2 img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    margin: auto;
    padding: 10px;
}

.block2{
    width: 100%;
    text-align: center; 
    display: flex;
    flex-direction: column;
}

.block2-heading{
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    min-height: 70px;
    height: auto;
    font-size: 1.2em;
    font-weight: bolder;
    padding-top: 20px;
    margin-top: 20%;
}

.block2-cards{
    display: flex;
    justify-content: space-evenly;
    min-height: 75px;
    height: 100%;
    padding: 40px 0;
}

.block2-items h4{
    padding: 10px 0;
    font-size: 1.1em;
    font-weight: 600;
}

.block2-items p{
    padding-top: 10px;
    font-size: 0.9em;
    word-spacing: 2px;
}

.block2-items{
    width: 30%;
    height: 100%;
    padding: 20px 40px;
    box-shadow: 5px 5px 8px -7px rgb(6, 1, 51);
    position: relative;
}

.block3{
    width: 100%;
    height: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.block3-content{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    color: black;
}

.block3-heading{
    background: linear-gradient(to right, #c04848, #480048);
    min-height: 75px;
    height: auto;
    font-size: 1.2em;
    padding-top: 20px;
    color: white;
}

.block3-text{
    width: 50%;
    height: 90%;
    padding: 20px 0;
    font-size: 1em;
    text-align: center;
}

.block3-image img{
    margin: 15px 0;
    width: 25vw;
    box-shadow: 0px 8px 11px -5px rgb(6, 1, 51);
    height: 50vh;
}

.block4{
    width: 100%;
    padding: 10px 0;
    border-top: 2px solid grey;
}

.block4-form h2{
    text-align: center;
    color: rgb(52, 95, 238);
    font-weight: 600;
    padding-bottom: 20px;
}

.block4-form{
    width: 40%;
    margin: auto;
    padding: 10px;
}

.details_link{
    text-align: center;
    font-size: 18px;
    color: grey;
    text-decoration: none;
}

.details_link:hover{
    text-align: center;
    font-size: 18px;
    color: darkred;
    border-bottom: 3px solid darkred;
}

.block2-items:hover{
    background-color: darkseagreen;
    transition: all 200ms ease-in;
    color: white;
}

@media screen and (max-width: 900px) {
    .block1{
        flex-direction: column;
        height: auto;
        margin-top: 10vh;
    }
    
    .block1-2 img{
        width: 270px;
        height: 250px;
        margin: 20px 0;
    }

    .block2-cards{
        flex-direction: column;
        align-items: center;
    }

    .block2-items{
        width: 70px;
        height: auto;
        margin: 10px 0;
    }

    .block2-items p{
        padding: 15px 0;
    }

    .block3-content{
        flex-direction: column;
        align-items: center;
    }

    .block3-text{
        padding: 20px 30px;
        width: auto;
        font-size: 1.1rem;
    }

    .block3-image img{
        width: 300px;
        height: 200px;
    }

    .block4-form{
        width: 80%;
    }
}

.header{
    width: 90%;
    height: auto;
}

.header ul{
    padding-top: 25px;
    float: right;
}

.header ul li a{
    color: grey;
}

.header ul li a:hover{
    border-bottom: 3px solid darkred;
    color: darkred;
}

