.article{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 60%;
    margin: auto;
    box-shadow: 0px 2px 11px 5px grey;
    background-color: white;
    text-align: center;
    padding: 0 30px;
}

.article h1{
    color: red;
    font-size: 3em;
    padding-top: 10px;
}

.article img{
    padding-top: 30px;
    width: 80%;
}

.description{
    width: 70%;
    margin: auto;
    text-align: left;
}

.description p{
    word-spacing: 5px;
    line-height: 30px;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ddd;
}

.main{
    padding: 0 40px;
}

.header{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
}

.header h2{
    letter-spacing: 6px;
    color: red;
}

.nav{
    display: flex;
}

.nav a{
    color: black;
    font-size: 20px;
    padding: 0 25px;
}

.nav li{
    list-style-type: none;
}

.nav a{
    text-decoration: none;
}

.carousel img{
    max-height: 450px;
}

.carousel-caption h2{
    font-size: 40px;
}

.carousel-caption p{
    font-size: 26px;
}

.blogs-about_me{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.blogs{
    width: 65%;
}

.card{
    padding: 40px;
    margin-top: 20px;
    text-align: center;
}

.card img{
    padding: 20px 0;
    height: 300px;
    margin: auto;
}

button{
    width: 150px;
    padding: 8px 0;
    background: #eee;
    border: 1px solid orange;
    margin: auto;
}

.about_me{
    width: 30%;
}

.about_me p{
    padding-top: 15px;
}

.popular{
    background-color: #eee;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.popular a{
    text-decoration: none;
    color: black;
}

.footer{
    padding: 20px;
    background: white;
    margin-top: 30px;
    margin-bottom: 40px;
}

.footer h2{
    text-align: center;
}

.submit_button{
    margin-top: 20px;
    text-align: center;
}

@media screen and (min-width: 652px) and (max-width: 1067px){
    .header h2{
        font-size: 20px;
    }

    .nav a{
        font-size: 16px;
        padding: 15px;
    }

    .blogs{
        width: 55%;
    }

    .about_me{
        width: 40%;
    }

    
}

@media screen and (max-wdith: 651px){
    .header{
        flex-direction: column;
        text-align: center;
    }
}